body {
    padding: 0;
    margin: 0;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: 18px;
    line-height: 22px;
}

h2 {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 34px;
    line-height: 42px;
    margin: 0;
}

.container {
    width: 937px;
    margin: 0 auto;
    text-align: center;
}

.page-header {
    padding: 33px 0 105px 0;
}

.page-header__container {
    width: 944px;
    margin: 0 auto;
}

.page-header__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    padding-bottom: 32px;
}

.page-header__nav ul a {
    text-decoration: none;
    color: #828282;
}

.page-header__nav ul a:hover {
    color: #070707;
}

.page-header__denis-novik {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0 30px 0;
}

.page-header__denis-novik h1 {
    margin: 0;
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 47.3392px;
    line-height: 59px;
}

.page-header__denis-novik p {
    margin: 0;
}

.page-header__denis-novik p:last-child {
    transform: rotate(-90deg) translate(35px, 30px);
    
}

.page-header__denis-novik a {
    text-decoration: none;
    color: #828282;
}

.page-header__denis-novik a:hover {
    color: #070707;
}

.about-me {
    background-color: #F6F6F6;
    padding: 120px 0 107px 0;
}

.about-me h2 {
    padding-bottom: 18px;
}

.skills {
    padding: 90px 0 110px 0;
}

.skills h2 {
    margin-bottom: 70px;
}

.skills p {
    margin-bottom: 87px;
}

.skills__skills-items {
    display: flex;
    justify-content: space-between;
}

.skills-items__photoshop::before {
    content: "";
    display: table;
    width: 89.07px;
    height: 90px;
    background: url("img/photoshop.svg") no-repeat;
    margin: 0 auto;
    margin-bottom: 23px;
}

.skills-items__illustrator::before {
    content: "";
    display: table;
    width: 89.07px;
    height: 90px;
    background: url("img/illustrator.svg") no-repeat;
    margin: 0 auto;
    margin-bottom: 23px;

}
.skills-items__after-effects::before {
    content: "";
    display: table;
    width: 89.07px;
    height: 90px;
    background: url("img/after\ affects.svg") no-repeat;
    margin: 0 auto;
    margin-bottom: 23px;

}
.skills-items__figma::before {
    content: "";
    display: table;
    width: 59px;
    height: 90px;
    background: url("img/figma.svg") no-repeat;
    margin: 0 auto;
    margin-bottom: 23px;

}

.skills-items__photoshop::after,
.skills-items__after-effects::after,
.skills-items__figma::after {
    content: "";
    display: table;
    width: 167px;
    height: 26px;
    background: url("img/4stars.svg") no-repeat;
    margin-top: 40px;
}

.skills-items__illustrator::after {
    content: "";
    display: table;
    width: 167px;
    height: 26px;
    background: url("img/3stars.svg") no-repeat;
    margin-top: 40px;

}

.portfolio {
    padding: 113px 0 96px 0;
    background-color: #F6F6F6;

}

.portfolio h2 {
    margin-bottom: 47px;
}

.portfolio img {
    margin-bottom: 45px;
}

.portfolio figure:not(:last-child) {
    margin-bottom: 100px;
}